:root {
  --placeholder: rgb(18, 33, 52);
}

@media only screen and (max-width: 600px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }
}

* {
    box-sizing: border-box;
  }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 150vh;
  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
  margin-right: 15rem;
  font-size: large;
}